<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Para saber mas sobre este tutorial, por favor contacta con
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>